.head{
    font-size: 8vw ;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    
    background-color: rgb(0, 0, 0);
    color: rgb(197, 192, 192);
    
}
.main{
    height: 2000px;
    @media screen {
        overflow-x: hidden;
        
    }

    display:flex;
    /* justify-content:space-evenly; */
    font-family:'Courier New', Courier, monospace;
}
.about{
    position:relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    display: flex;
    justify-content: center;
    
    font-size:6vw ;
    top:20vh; 
    right:60vw;
    width: 35vw;
    height: fit-content;
    transition: transform 0.4s, left 0.9s ease-in-out;
    
    
    color: rgb(255, 255, 255);
    background-color: #013503;
    padding: 20px;
    
    
    
    
    
}


.about:hover{
    
    transform: scale(1.05);
}

#aid1{
    color: rgb(127, 0, 0);
}
.projects{
    position:relative;
    text-align: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    float: left;
    /* padding-top: 500px; */
    font-size: 6vw;
    top:70vh; 
    left: 60vw;
    width: 35vw;
    height: fit-content;
    transition: transform 0.4s, left 0.9s ease-in-out;
    

    color: rgb(255, 255, 255);
    background-color: #013503;
    padding: 20px;
    
    @media screen and (max-width:600px) {
        
        top:50vh;
    }
    

}

.projects:hover{
    
    transform: scale(1.05);
}
.plans{
    position:relative;
    text-align: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    float: left;
    /* padding-top: 500px; */
    font-size: 6vw;
    top:120vh; 
    right: 72vw;
    width: 35vw;
    height: fit-content;
    transition: transform 0.4s, left 0.9s ease-in-out;
    

    color: rgb(255, 255, 255);
    background-color: #013503;
    padding: 20px;
    @media screen and (max-width:600px) {
        
        top:80vh;
    }
    
    
    

}
.plans:hover{
    
    transform: scale(1.05);
}
