body{
    margin: 0;
    padding: 0;
    font-family: 'Arial',sans-serif;
    background-color: black;
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    background-color: rgba(0, 20, 0, 0.793);
    color: rgb(0, 0, 0);
    font-weight: 900;
    display: bl;
    width: 100vw;
    transition:top 0.4s;
    /* height: 10vh; */
}



.socialmedia{

    
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 3px;
    
   
}

.git{
    margin: 5px;
    border-radius:1px ;
    color: rgb(255, 255, 255);
    margin-inline: 10px;
    margin-left: 20px;
}
.insta{
    margin: 5px;
    border-radius:1px ;
    color: rgb(255, 255, 255);
    margin-inline: 10px;

}
.ld{
    margin: 5px;
    border-radius:1px ;
    color: rgb(255, 255, 255);
    margin-inline: 10px;

}

.searchbar {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-color: transparent;
    margin: 10px;
    padding: 5px;
    width: 230px;
    border-style: hidden;
    background-image: url('search.svg');
    background-repeat: no-repeat;
    background-position: 200px 9px;
    background-size: auto;
    text-indent: 10px;
    @media screen and (max-width:500px){
        width: 100px;
        /* background-position: ; */
        /* background-color: aquamarine; */

        
    }
    
    
    
    

}

.searchbar:hover  {
    background-color: rgb(225, 225, 225);
    
    
}
.searchbar:focus-visible{
    outline: none;
    
}
.searchicon{
    color:white;

}
#nodrop{ 
    display: flex;
    height: 400px;
    width: auto;
    color: rgb(0, 255, 0);
    overflow-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
    
    
    
}


